@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@100;200&display=swap');

body {
    background-color: #FBFBFF;
    font-family: 'Open Sans', sans-serif;
    color: #071013;
    font-size: 300;
    line-height: 26px;
    padding: 24px;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.card {
    padding: 20px 32px 60px 32px;
    margin-top: 20px;
    background-color: #ebebee;
    border-radius: 8px;
}

.box-off-white {
    background-color: #FBFBFF;
}

h1 {
    color:#0F1A20;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    font-weight: 100;
}

h2 {
    color: #bf1a2f;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0.75px;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.btn-red {
    background-color: #a7172a;
    text-decoration: none;
    color: #FBFBFF;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    font-size: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.btn-red:hover {
    background-color: #bf1a2f;
    color: whitesmoke;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline > li {
    display: inline;    
    font-size: 40px;
}

#social-icon:hover {
    color: #95adaf;
}

#social-icon:visited {
    color: #538083;
}
